:root {
    --dark-blue: hsl(209, 23%, 22%);
    --very-dark-blue-bg: hsl(207, 26%, 17%);
    --very-dark-blue-text: hsl(200, 15%, 8%);
    --dark-gray: hsl(0, 0%, 52%);
    --very-light-gray: hsl(0, 0%, 98%);
    --white: hsl(0, 0%, 100%);
}

html {
    font-size: 14px;
}

a:link,
a:visited,
a:hover,
a:active {
    text-decoration: none;
}

body {
    margin: 0;
    /* font-family: -apple-system, BlinkMacSystemFont, "Segoe UI", "Roboto", "Oxygen",
  "Ubuntu", "Cantarell", "Fira Sans", "Droid Sans", "Helvetica Neue",
  sans-serif; */
    -webkit-font-smoothing: antialiased;
    -moz-osx-font-smoothing: grayscale;
    font-family: "Nunito Sans", sans-serif !important;

    --bs-body-bg: var(--very-light-gray) !important;
    color: var(--very-dark-blue-text);
    --bs-list-group-bg: var(--white) !important;
    transition: all 0.3s;
}

body.dark {
    --bs-body-bg: var(--very-dark-blue-bg) !important;
    color: var(--white);
    --bs-list-group-bg: var(--white) !important;
}

.card-body {
    color: var(--very-dark-blue-text) !important;
}

body.dark .card-body {
    color: var(--white) !important;
}

.text:hover,
.text:link,
.text:visited,
.text:active {
    color: inherit;
    text-decoration: none;
}

code {
    font-family: source-code-pro, Menlo, Monaco, Consolas, "Courier New",
        monospace;
}

#search-input {
    background-image: url("./Components/Image/search-outline.svg");
    background-repeat: no-repeat;
    background-size: 29px;
    background-position: 20px;
    border: none;
    outline: none;
    color: inherit !important;
    width: 40%;
}

.form-select {
    width: 25% !important;
}

.bg-fff {
    background-color: var(--white) !important;
    color: var(--dark-gray) !important;
}

body.dark .bg-fff {
    background-color: var(--dark-blue) !important;
    color: var(--white) !important;
}

.path-color {
    fill: var(--very-dark-blue-text);
}

body.dark .path-color {
    fill: var(--white);
}

li {
    list-style: none;
}

.list-group {
    --bs-list-group-bg: var(--white) !important;
    --bs-list-group-color: var(--very-dark-blue-text) !important;
}

body.dark .list-group {
    --bs-list-group-bg: var(--dark-blue) !important;
    --bs-list-group-color: var(--white) !important;
}

.home-page {
    position: relative;
    width: 100%;
    height: 100%;
}

.spinner {
    position: absolute;
    display: flex;
    align-items: center;
    justify-content: center;
    gap: 5px;
}

.details {
    font-size: 16px;
}

.details .spinner {
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
}

.btn-back {
    padding: 7px 35px !important;
}

.cic {
    margin-top: 50px;
    width: 30px;
    height: 30px;
    border-radius: 50%;
    background-color: var(--very-dark-blue-text);
    animation: up 1s infinite linear alternate;
}

body.dark .cic {
    background-color: var(--white);
}

.cic:nth-child(1) {
    animation-delay: 0s;
}

.cic:nth-child(2) {
    animation-delay: 0.5s;
}

.cic:nth-child(3) {
    animation-delay: 1s;
}

.cic:nth-child(4) {
    animation-delay: 1.5s;
}

.cic:nth-child(5) {
    animation-delay: 2s;
}

@keyframes up {
    0% {
        transform: translateY(-10px);
    }
    25% {
        transform: translateY(-20px);
    }
    50% {
        transform: translateY(-10px);
    }
    100% {
        transform: translateY(0px);
    }
}

.btn-border {
    width: fit-content !important;
}

.is_pse {
    font-size: 34px;
    letter-spacing: 1.4px;
    margin-top: 10px;
    text-align: center;
    font-weight: 500;
    text-transform: capitalize;
}

.pse {
    font-weight: 900;
    letter-spacing: 2px;
    font-size: 40px;
}

.isr {
    font-size: 30px;
    opacity: 0.5;
    text-decoration-line: line-through;
    text-decoration-color: red;
    text-decoration-style: double;
    text-transform: lowercase;
}

@media (max-width: 768px) {
    #search-input {
        width: 100%;
    }

    .form-select {
        width: 50% !important;
    }

    .links-borders {
        width: 100%;
    }

    .btn-border {
        width: fit-content !important;
        padding: 7px 20px !important;
    }
}
